body {
  background-color: aliceblue;
}

#main h1 {
  color: #444;
  text-align: center;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-list {
  padding: 0;
}
#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880488;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  color: #880488;
  cursor: pointer;
}
form {
  background: #fff;
  padding: 20px;
  width: 400px;
}

form.bookform {
  position: fixed;
  bottom: 0;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 10px;
}

form label {
  text-align: right;
  padding: 6px;
}
